
    <h1 class="page-header">Home</h1>
	

		<div ng-switch on="userinfo.role"> 
		<div ng-switch-when="admin">

			<div class="row">
		
				
					<div id="Home" class="col-md-4" >
					<a href="#dashboard">
					<img src="images/dashboard.jpg" class="img-rounded" width="200" height="100" alt="Dashboard">
					<strong class="title">Dashboard</strong>
					</a>
					</div>

					<div id="Home" class="col-md-4">
					<a href="#">
					<img src="images/accounts.jpg" class="img-rounded" width="200" height="100" alt="Accounts">
					<strong class="title">Accounts</strong>
					</a>
					</div>

					<div id="Home" class="col-md-4">
					<a href="#">
					<img src="images/finance.jpg" class="img-rounded" width="200" height="100" alt="Finance">
					<strong class="title">Finance</strong>
					</a>
					</div>	
				
			</div>
			
			
			<div class="row" style="margin-top:10px;">
		
				
					<div id="Home" class="col-md-4" >
					<a href="#">
					<img src="images/payments.jpg" class="img-rounded" width="200" height="100" alt="Payments">
					<strong class="title">Payments</strong>
					</a>
					</div>

					<div id="Home" class="col-md-4">
					<a href="#">
					<img src="images/banks.jpg" class="img-rounded" width="200" height="100" alt="Banks">
					<strong class="title">Banks</strong>
					</a>
					</div>

					<div id="Home" class="col-md-4">
					<a href="#">
					<img src="images/contacts.jpg" class="img-rounded" width="200" height="100" alt="Contacts">
					<strong class="title">Contacts</strong>
					</a>
					</div>	
				
			</div>
			
								
		</div>		
		</div>
		
		